<div class="author">
    <h1 class="author_heading">It's okay to not be okay ; It's okay to ask for help;</h1>
    <p lcass="author_body">Our mission is to make people suffering from mental health feel comfortable , we provide you with resources to reach out for help , we provide some jokes and inspirational quotes for you to get your daily dose of happiness and we hope that you get well soon .</p>


</div>

<img src="img/hero-image.webp" alt="person looking out of window" class="hero-image" width="981" height="528">
<p lcass="author_body"> <%= jok %> </p>
<p lcass="author_body"><%= quot%></p>

<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>

    <ul class="article-ul">
      <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span> <%= post.title %></span>
                <span class="article-list_date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
       <% }) %>


    </ul>

   

</section>
 